<!DOCTYPE html>
<html>
    <head>
        <title>Settings</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <aside>
            <div class="advanced_settings">
                <h3>Advanced Config Settings</h3>
                <button id="settings-toggle" class="settings_icon"></button>
            </div>
            <nav class="settings_navbar">
                <span>Profile</span>
                <span>System Prompts</span>
                <span>Memories</span>
                <span>Models Configs</span>
            </nav>
        </aside>
    </body>
</html>